<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- IMPORT PROPERTIES -->
    <property resource="application.properties" />
    <!-- CONSOLE APPENDER -->
    <appender name="MyConsoleAppenderName" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>My File Appender: %d %p %c{0} %m %n</Pattern>
        </encoder>
    </appender>
    <!-- FILE APPENDER -->
    <appender name="MyFileAppenderName" class="ch.qos.logback.core.FileAppender">
        <!-- FILE NAME -->
        <file>src/main/resources/logs/File.log</file>
        <!-- ENCODER -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>My File Appender: %d %p %c{30} %m %n</Pattern>
        </encoder>
    </appender>
    <!-- ROLLING FILE APPENDER -->
    <appender name="MyRollingFileAppenderName" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- FILE NAME -->
        <file>src/main/resources/logs/RollingFile.log</file>
        <!-- ENCODER -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>My File Appender: %d %p %c{30} %m %n</Pattern>
        </encoder>
        <!-- ROLLOVER POLICY (daily and when the file reaches 1MB) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>src/main/resources/logs/archived/RollingFile_%d{dd.MM.yyyy}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- DATABASE APPENDER -->
    <appender name="MyDBAppenderName" class="ru.parfenov.appender.MyDBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <url> ${spring.datasource.url} </url>
            <user> ${spring.datasource.username} </user>
            <password> ${spring.datasource.password} </password>
            <driverClass> ${spring.datasource.driver-class-name} </driverClass>
        </connectionSource>
    </appender>
    <!-- LOGGER -->
   <logger name="console and file logger" level="INFO">
        <appender-ref ref="MyConsoleAppenderName" />
        <appender-ref ref="MyFileAppenderName" />
        <appender-ref ref="MyRollingFileAppenderName"/>
    </logger>

    <logger name="data base logger" level="INFO">
        <appender-ref ref="MyDBAppenderName"/>
    </logger>
    <!-- DISABLE DEFAULT LOGGER (since no appenders are defined) -->
    <root level="info"> </root>
</configuration>